<a href="https://colab.research.google.com/github/doruktopcu/GlobalAI-Hub-Python-Bootcamp-2022/blob/main/GlobalAiHubProject2_MoviesAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
#First we uploaded our dataset to colab.
#We will save it as a DataFrame with pandas.
movies_df = pd.read_csv('NetflixOriginals.csv', sep=',', encoding='latin-1')

In [28]:
#movies_df is ready to analyse.
movies_df

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,1922,Horror/Crime drama,20/10/2017,102,6.3,English
1,44764,Drama,10/10/2018,144,6.8,English
2,44788,Comedy-drama,29/03/2019,124,5.8,Marathi
3,#REALITYHIGH,Comedy,09/08/2017,99,5.2,English
4,13th,Documentary,10/07/2016,100,8.2,English
...,...,...,...,...,...,...
579,XOXO,Drama,26/08/2016,92,5.3,English
580,Yeh Ballet,Drama,21/02/2020,117,7.6,Hindi
581,Yes Day,Comedy,03/12/2021,86,5.7,English
582,You've Got This,Romantic comedy,10/02/2020,111,5.8,Spanish
583,Zion,Documentary,08/10/2018,11,7.2,English

In [23]:
#We select the movies that has more runtime than 120 minutes and save it as a dataframe.
long_runtime_movies = movies_df[(movies_df.Runtime > 120)]

In [24]:
long_runtime_movies

,Title,Genre,Premiere,Runtime,IMDB Score,Language
1,44764,Drama,10/10/2018,144,6.8,English
2,44788,Comedy-drama,29/03/2019,124,5.8,Marathi
8,6 Underground,Action,13/12/2019,128,6.1,English
28,Ajeeb Daastaans,Drama,16/04/2021,142,6.7,Hindi
33,All Day and a Night,Drama,05/01/2020,121,5.8,English
...,...,...,...,...,...,...
529,The White Tiger,Drama,22/01/2021,125,7.1,English
534,Things Heard & Seen,Horror,29/04/2021,121,5.3,English
538,Time to Hunt,Thriller,23/04/2020,134,6.3,Korean
549,Triple Frontier,Action-thriller,13/03/2019,125,6.4,English
562,War Machine,War-Comedy,26/05/2017,122,6.0,English

In [29]:
#Correlation between runtime and IMDB score.
movies_df.corr()

             Runtime  IMDB Score
Runtime     1.000000   -0.040896
IMDB Score -0.040896    1.000000

In [27]:
#We can create a piechart to see which language has more percentage.

In [31]:
#IMDB scores of Documentaries tat has premiered between 2019 January to 2020 June.

In [32]:
#Movies that has the highest IMDB scores in English.

In [34]:
#Avg. runtime of Hindi movies.

In [35]:
#How many categories does Genre have.

In [36]:
#Most used languages in movies in this dataset.

In [37]:
#Top 10 by IMDB scores.

In [38]:
#Top 10 movies in different genres.

In [39]:
#Most number of movies released by years.

In [40]:
#Movies in which languages has the lowest IMDB scores.

In [41]:
#Which year has to most runtime sum.

In [43]:
#Are there outliers in the data set?

In [44]:
#Which languages are mostly used by genre?